<ion-header>
    <ion-toolbar>
        <ion-item>
            <ion-button routerLink="../home">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
            <ion-title>SMART HOME</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <label>Available:</label>
    <br>
    <ion-item>
        <img class="main-image" src="../../assets/icon/nest1.png">
        <label> Nest</label>
        <ion-button slot="end" (click)="onSelect(1)">Connect</ion-button>
    </ion-item>
    <br>
    <ion-item>
        <img class="main-image" src="../../assets/icon/echo.png">
        <label> Echo</label>
        <ion-button slot="end" (click)="onSelect(2)">Connect</ion-button>
    </ion-item>
</ion-content>