ion-content ion-toolbar {
    background-color: #92949c;
}

.logo-image {
    height: 11rem;
    width: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ion-card {
    text-align: center;
}